# @tiptap-pro:registry=https://registry.tiptap.dev/
# //registry.tiptap.dev/:_authToken= 9fGzCgFI91IFhCjjYaLDF0opue3pW1MA49tcWLc2T9eMpuVluhisqLqv7w2HXjaN


@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=${TIPTAP_TOKEN}